<!DOCTYPE html>
<html>
  <head>
    <title>Career website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
      #banner {
        height: 260px;
        width: 100%;
        object-fit: cover;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Career Page</h1>
      <img class="img-fluid" id="banner" src="https://career-website-jj--nteffalain.repl.co/static/careerpic.jpg">
      <h2 class="text-center mt-4 mb-3">About Careers</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Platea dictumst quisque sagittis purus sit amet volutpat consequat mauris. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Molestie nunc non blandit massa enim nec dui nunc mattis. Blandit libero volutpat sed cras.</p>
      <h2 class="text-center mb-3">Job Openings</h2>
      <p>
        <div>
          {% for job in jobs %}
            {% include 'jobitem.html' %}
          {% endfor %}
        </div>
      </p>
      <div style="text-align: center;">
        <button type="button" class="btn btn-danger btn-lg mt-4">Contact Us</button>
        <p class="mt-4">Copyright 2023, Career Inc</p>
      </div>
    </div>
  </body>
  
</html>